body {
    font-size: 25px;
    background-color:#B7D730;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

button{
    font-size: 1.5rem;     
    padding: 10px 30px;  
    border-radius: 5px; 
    border-color: white;
    border-style: solid;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 8px;
    background-color: #B7D730;
    color: white;
}

#word div{
    display: inline-block;
    width: 25px;
}